html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    outline-offset: 0.25rem;
    outline: 0.125rem solid transparent;
}

*:focus {
    outline: 0.125rem solid #00C;
}
  

body {
    margin: 0;
    padding: 0;
}


section:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.1)
}

.container {
    padding: 1rem;
    max-width: 980px;
}

figure {
    margin: 1rem 0;
    padding: 0.75rem 1rem;
    border: 1px solid black;
}

pre {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1rem;
    line-height: 2;
    white-space: pre-wrap;
}

figure > pre {
    margin: 0;
    padding: 0;
}

code {
    
}