/* ==========================================================================
   Default
   ========================================================================== */

.button,
[class*="button-"],
button {
    margin:.25rem;
    padding: 0.5rem 1rem;

    font-size: 1rem;

    box-shadow: none;
    border: none;
    background-color: #ccc;
}

button.disabled,
[class*="button-"].disabled,
button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}


/* ==========================================================================
   With icon
   ========================================================================== */

.button-icon {

}

/* ==========================================================================
   Theme
   ========================================================================== */

.use-theme button {
    border-radius: var(--make-me-round);
    background: var(--color-fg-primary);
    color: var(--color-fg-invert);

    transition: 
        all var(--transition-normal);
}

.use-theme button:not([disabled]):active {

}

.use-theme button:not([disabled]):hover {
    background: var(--color-fg-primary);
}