/* ==========================================================================
   Switch
   ========================================================================== */

   .switch-container,
   .switch {
    --switch-width: 4rem;
    --switch-height: 2.5rem;
    --switch-area-increaser: 0.5rem;
    --switch--border-width: 0.0625rem;
}

.switch {    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    padding: var(--switch-area-increaser);
    width: var(--switch-width);
    height: var(--switch-height); 
    position: relative;
}


.switch::before {
    content: '';
    display: block;
    position: absolute;
    top: var(--switch-area-increaser);
    right: var(--switch-area-increaser);
    bottom: var(--switch-area-increaser);
    left: var(--switch-area-increaser); 
   
    border: var(--switch--border-width) solid #000;
      
    transition: all .3s;
}

.switch::after {
    content: '';
    display: block;
    position: absolute;

    width: 1rem;
    
    margin: 0.1875rem 0;
    margin-left: calc( var(--switch-area-increaser) * -1.5 );
    
    top: var(--switch-area-increaser);
    right: var(--switch-area-increaser);
    bottom: var(--switch-area-increaser);
    left: var(--switch-area-increaser);

    background-color: #000;

    transform: translateX(100%);
    transition: all .3s;
}

.switch:checked::after{
    left: calc(100%);
    transform: translateX(-100%);
}


/* ==========================================================================
   Switch container
   ========================================================================== */

.switch-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.switch-container > *:first-child {
    margin-right: 0.5rem;
}


/* ==========================================================================
   Switch label
   ========================================================================== */

.switch-label {
    padding-top: calc( var(--switch-area-increaser) + var(--switch-border-width) );
    padding-bottom: var(--switch-area-increaser);
}