.switch {
    display: inline-flex;
    align-items: stretch;
    position: relative;
    padding: 0.5rem;

    height: 2.5rem;
    width: 4rem;    
}


.switch input,
.switch-area {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    
    flex: 1 0 100%;
    min-width: 100%;
    padding: 0.0625rem;
    border: 0.0625rem solid rgba(0,0,0,0.1);
    border-radius: 100rem;    
}

.switch-paddle {
    position: absolute;
    top: 0.55rem;
    left: 0.55rem;
    bottom: 0.55rem;
    padding-left: 100%;

    background: black;
    border-radius: 100rem;

    transition: all .3s ease;
}

.switch input:checked + .switch-area > .switch-paddle {
    margin-left: calc(100% - 1.25rem);
}

.switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.switch + .switch-label,
.switch-label + .switch {
    margin-left: 0.5rem;
}

/* Small */

.switch.is-small .switch-area {
    width: 2rem; 
    height: 1rem;
}

.switch.is-small .switch-paddle {
    width: 0.75rem;
    height: 0.75rem;
}

.switch.is-small input:checked + .switch-area > .switch-paddle {
    margin-left: calc(100% - 0.75rem);
}

/* Large */

.switch.is-large .switch-area {
    width: 4rem;
    height: 2rem;    
}

.switch.is-large .switch-paddle {
    width: 1.75rem;
    height: 1.75rem;
}

.switch.is-large input:checked + .switch-area > .switch-paddle {
    margin-left: calc(100% - 1.75rem);
}

.switch-2 {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    padding: 0.5rem;
    width: 4rem;
    height: 2.5rem; 
    border: 1px solid #ccc;
    position: relative;
}


.switch-2::before {
    content: '';
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem; 
   
    border: 0.0625rem solid #000;  
    border-radius: 100rem;    
}

.switch-2::after {
    content: '';
    display: block;
    position: absolute;

    width: 1rem;
    height: 1rem;
    margin-top: 0.1875rem;
    
    top: 0.5rem;
    right: 0.75rem;
    bottom: 0.5rem;
    left: 0.75rem;
    
    background-color: #000;
    border-radius: 100rem;

    transition: all .3s;
}

.switch-2:checked::after{
    transform: translateX(calc(100% + 0.375rem));
}