/* ==========================================================================
   Switch
   ========================================================================== */

.switch-container,
.switch {
    --switch-width: 2.75rem;
    --switch-height: 1.5rem;
    --switch-area-increaser: 0;
    --switch-border-width: 0.0625rem;
    --switch-padding: 0.1875rem;
    --switch-paddle-width: 
    calc( var(--switch-height) - var(--switch-padding) * 2 - var(--switch-border-width) * 2);
}

.switch-container.is-small .switch,
.switch.is-small {
    --switch-width: 1.625rem;
    --switch-height: 1rem;
}

.switch-container.is-large .switch,
.switch.is-large {
    --switch-width: 3.625rem;
    --switch-height: 2rem;    
}

.switch {    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    padding: var(--switch-padding);
    width: var(--switch-width);
    height: var(--switch-height); 

    border: var(--switch-border-width) solid #000;
    border-radius: var(--make-me-round, 0);

    transition: all var(--transition-normal, .3s);
}

.switch::before {
    content: '';
    display: block;
    
    width: var(--switch-paddle-width);
    flex: 0 0 var(--switch-paddle-width);

    background: var(--color-fg-primary, black);
    border-radius: var(--make-me-round, 0);

    transition: all var(--transition-normal, .3s);
}

.switch:checked {
    background: var(--color-fg-primary, white);
    border-color: var(--color-fg-primary, black);
}

.switch:checked::before {    
    margin-left: 100%;
    background: var(--color-fg-invert, black);
    transform: translateX(-100%);
}


/* ==========================================================================
   Switch container
   ========================================================================== */

.switch-container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0.5rem;
}

.switch-container > *:first-child {
    margin-right: 0.5rem;
}


/* ==========================================================================
   Switch label
   ========================================================================== */

.switch-container > .label {
    padding-top: calc( var(--switch-area-increaser) + var(--switch-border-width) );
    padding-bottom: var(--switch-area-increaser);
}

.switch-container.is-small > .label {
    font-size: 0.825rem;
}

.switch-container.is-large > .label {
    font-size: 1.5rem;
}
