.use-theme {
    --color-fg-primary: #369;
    --color-fg-invert: #fff;
    --transition-normal: .3s;
    --make-me-round: 100rem;
  }

html.use-theme {
    background-color: #f9f9f9;
}


/* ==========================================================================
   Typography
   ========================================================================== */

figure {
    color: #234;
    background-color: #e5e5f0;
    
    border: none;
}

.use-theme .note {
    padding: 0.5rem;
    background-color: #ffc;

    font-size: 0.825rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}